.navbar-brand{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:x-large;
  
}
body{
  overflow-x: hidden;
}
#nav{
  /* background-color:#e0f5fe; */
  height: 50px;
}

.nav-link{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:medium;
}



.navbar{
  display: flex;
  flex-wrap: wrap;

}
.menu-links{
  left: 200px;
  position: absolute;
}
.produs, .ph, .ea, .ta, .sma, .hom, .subscr {
  padding-top: 10px;
  font-size: 20px;
  display: inline;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  top:30px;
  color: darkslategray;
  transition: 0.4s;
}

/* .produs::after{
  content: '';  
  left:0;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background-color: skyblue;
  transition: all ease 1s;
}

.produs:hover::after{
  width: 100%;
} */

.search-store{
  right: 150px;
  position: absolute;
  top:25px;
}
.gsearch{
  width: 25px;
  top:25px;
}

.gfaq{
  width: 25px;
  height: 22px;
  top:25px;
}

/* .ph{
  font-size: 14px;
  position: absolute;
  font-weight: bold;
  top:30px;
  left: 260px;
  color: darkslategray;
  transition: 0.4s;
}

.ph::after{
  content: '';
  position: absolute;
  left:0;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background-color: skyblue;
  transition: all ease 1s;
}

.ph:hover::after{
  width: 100%;
} */


/* .ea{
  font-size: 14px;
  position: absolute;
  font-weight: bold;
  top:30px;
  left: 340px;
  color: darkslategray;
}

.ea::after{
  content: '';
  position: absolute;
  left:0;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background-color: skyblue;
  transition: all ease 1s;
}

.ea:hover::after{
  width: 100%;
} */

/* .ta{
  font-size: 14px;
  position: absolute;
  font-weight: bold;
  top:30px;
  left: 430px;
  color: darkslategray;
}


.ta::after{
  content: '';
  position: absolute;
  left:0;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background-color: skyblue;
  transition: all ease 1s;
}

.ta:hover::after{
  width: 100%;
} */

/* .sma{
  font-size: 14px;
  position: absolute;
  font-weight: bold;
  top:30px;
  left: 510px;
  color: darkslategray;
}

.sma::after{
  content: '';
  position: absolute;
  left:0;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background-color: skyblue;
  transition: all ease 1s;
}

.sma:hover::after{
  width: 100%;
} */


/* .hom{
  font-size: 14px;
  position: absolute;
  font-weight: bold;
  top:30px;
  left: 600px;
  color: darkslategray;
}

.hom::after{
  content: '';
  position: absolute;
  left:0;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background-color: skyblue;
  transition: all ease 1s;
}

.hom:hover::after{
  width: 100%;
} */

.acc{
  font-size: 14px;
  position: absolute;
  font-weight: bold;
  top:26px;
  left: 630px;
  color: darkslategray;
}

.acc::after{
  content: '';
  position: absolute;
  left:0;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background-color: skyblue;
  transition: all ease 1s;
}

.acc:hover::after{
  width: 100%;
}

/* .subscr{
  font-size: 14px;
  position: absolute;
  font-weight: bold;
  top:30px;
  left: 720px;
  color: darkslategray;
}

.subscr::after{
  content: '';
  position: absolute;
  left:0;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background-color: skyblue;
  transition: all ease 1s;
}

.subscr:hover::after{
  width: 100%;
} */


.offe{
  font-size: 14px;
  position: absolute;
  font-weight: bold;
  top:26px;
  left:760px;
  color: darkslategray;
}

.offe::after{
  content: '';
  position: absolute;
  left:0;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background-color: skyblue;
  transition: all ease 1s;
}

.offe:hover::after{
  width: 100%;
}


.glogo{
  width: 90px;
  position: absolute;
  top:-10px;
}



.gcart{
  width: 25px;
  position: absolute;
  right: 375px;
  height: 23px;
  top:20px;
}

.fretailersz1{
  width: 70px;
  height: 30px;
  background-color:#0071dd;
  color: white;
  font-size: 14px;
  padding: 1px;
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
  border: 2px solid white;
  right: 40px;
  top:20px;
}

.fretailersz1:hover{
  opacity: 0.9;
  border-radius: 7px;
}


.fretailersz2{
  width: 170px;
  height: 31px;
  background-color:#0071dd;
  color: white;
  font-size: 14px;
  padding: 3px;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  border: 2px solid white;
  right: 120px;
  top:10px;
}


.fretailersz2:hover{
  opacity: 0.9;
  border-radius: 7px;
}

.fretailersz20{
  width: 160px;
  height: 25px;
  background-color: aliceblue;
  color: green;
  font-size: 15px;
  font-weight: bold;
  font-family: Google Sans,Roboto, Arial, sans-serif;
  border-radius: 20px;
  position: absolute;
  border: 2px solid darkgreen;
  right: 1310px;
  top:330px;
}


.fretailersz30{
  width: 100px;
  height: 25px;
  background-color: aliceblue;
  color: green;
  font-size: 15px;
  font-family: Google Sans,Roboto, Arial, sans-serif;
  border-radius: 20px;
  position: absolute;
  border: 2px solid darkgreen;
  font-weight: bold;
  right: 1370px;
  top:360px;
}


.fretailersz40{
  width: 120px;
  height: 25px;
  background-color: aliceblue;
  color: green;
  font-size: 15px;
  font-family: Google Sans,Roboto, Arial, sans-serif;
  border-radius: 20px;
  font-weight: bold;
  position: absolute;
  border: 2px solid darkgreen;
  right: 1350px;
  top:389px;
}



.ggroup{
  width: 35px;
  position: absolute;
  right: 30px;
  border-radius: 35px;
  height: 35px;
}



.pixel7a{
  width: 350px;
  height: 350px;
  position: absolute;
  right: 1000px;
  bottom: 150px;
  transition: 0.4s;
}

.pixel7a:hover{
  width: 355px;
  height: 355px;

}

.pixel7pro{
  width: 350px;
  height: 350px;
  position: absolute;
  right: 660px;
  bottom: 150px;
  transition: 0.4s;
}

.pixel7pro:hover{
  width: 355px;
  height: 355px;
}

.pixel7{
  width: 350px;
  height: 350px;
  position: absolute;
  right: 320px;
  bottom: 150px;
  transition: 0.4s;
}

.pixel7:hover{
  width: 355px;
  height: 355px;
}

.pixel7at{
  font-size: 18px;
  font-family: Google Sans,Roboto, Arial, sans-serif;
  font-weight: bold;
  position: absolute;
  top:590px;
  right: 1215px;
}




.pixel7prot{
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top:590px;
  right: 840px;
}

.pixel7t{
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top:590px;
  right: 530px;
}


.pixel6a{
  width: 350px;
  height: 350px;
  position: absolute;
  right: -15px;
  bottom: 155px;
  transition: 0.4s;
}

.pixel6a:hover{
  width: 355px;
  height: 355px;
}

.Nestaware{
  width: 330px;
  height: 350px;
  position: absolute;
  right: 1000px;
  bottom: -210px;
  transition: 0.4s;
}

.Nestaware:hover{
  width: 335px;
  height: 355px;
}

.nestcam{
  width: 300px;
  height: 300px;
  position: absolute;
  right: 680px;
  bottom: -200px;
  transition: 0.4s;
}

.nestcam:hover{
  width: 305px;
  height: 305px;
}

.pixel6at{
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top:590px;
  right: 195px;
}

.nestawaret{
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top:930px;
  right: 1180px;
}

.nestcamt{
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top:930px;
  right: 840px;
}


.Nestmini{
  width: 360px;
  height: 380px;
  position: absolute;
  right: 300px;
  bottom: -160px;
  transition: 0.4s;
}

.Nestmini:hover{
  width: 365px;
  height: 385px;

}

.Nestaudio{
  width: 350px;
  height: 350px;
  position: absolute;
  right: -30px;
  bottom: -250px;
  transition: 0.4s;
}

.Nestaudio:hover{
  width: 350px;
  height: 350px;
}

.Pixel7acase{
  width: 350px;
  height: 350px;
  position: absolute;
  right: 1000px;
  bottom: -630px;
  transition: 0.4s;
}

.Pixel7acase:hover{
  width: 355px;
  height: 355px;
}


.nestminit{
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top:930px;
  right:490px;
}

.nestaudiot{
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top:930px;
  right: 170px;
}

.pixel7acaset{
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top:1380px;
  right: 1150px;
}



.Adaptor{
  width: 270px;
  height: 320px;
  position: absolute;
  right: 680px;
  bottom: -620px;
  transition: 0.4s;
}

.Adaptor:hover{
  width: 305px;
  height: 345px;
}


.adaptort{
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top:1380px;
  right: 710px;
}

.coun{
  position: absolute;
  bottom: -1350px;
  right: 350px;
  font-size: 15px;
}

.help{
  position: absolute;
  bottom: -1350px;
  right: 200px;
  font-size: 15px;
}

.walk{
  position: absolute;
  bottom: -1405px;
  right: 335px;
  font-size: 15px;
}

.cont{
  position: absolute;
  bottom: -1405px;
  right: 205px;
  font-size: 15px;
}


.disa{
  position: absolute;
  bottom: -1455px;
  right: 360px;
  font-size: 15px;
}

.devi{
  position: absolute;
  bottom: -1455px;
  right: 165px;
  font-size: 15px;
}


.twitter{
  width: 18px;
  position: absolute;
  right: 1390px;
  top:2250px;
}

.instagram{
  width: 18px;
  position: absolute;
  right: 1365px;
  top:2250px;
}

.facebook{
  width: 18px;
  position: absolute;
  right: 1340px;
  top:2250px;
}

.youtube{
  width: 20px;
  position: absolute;
  right: 1312px;
  top:2250px;
}

.tiktok{
  width: 18px;
  position: absolute;
  right: 1288px;
  top:2250px;
}

.india{
  width: 25px;
  position: absolute;
  right: 700px;
  top:2245px;
}

.prod{
position: absolute;
top:300px;
left: 50px;
}

.conhome{
  position: absolute;
  top:330px;
  left: 50px;
}

.phones{
  position: absolute;
  top:360px;
  left: 50px;
}

.access{
  position: absolute;
  top:390px;
  left: 50px;
}

label{
  font-family: Google Sans,Roboto, Arial, sans-serif;
}

.pix7{
position: absolute;
bottom: 480px;
left:30px;
font-family: Google Sans,Roboto, Arial, sans-serif;
font-weight: bold;
}

.fretailers{
  width: 220px;
  height: 50px;
  background-color:#0071dd;
  color: white;
  font-size: 24px;
  font-family: Google Sans,Roboto, Arial, sans-serif;
  border-radius: 5px;
  position: absolute;
  border: 2px solid white;
  right: 20px;
  top:250px;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.dev{
  position: absolute;
  top:2300px;
  padding-bottom: 10px;
  font-size: 10px;
  left: 110px;
}

.ind{
  position: absolute;
  top:2250px;
  font-size: 12px;
  left: 830px;
}

.pri{
  position: absolute;
  top:2250px;
  font-size: 12px;
  left: 900px;
}


.goog{
  position: absolute;
  top:2250px;
  font-size: 12px;
  left: 1000px;
}


.sale{
  position: absolute;
  top:2250px;
  font-size: 12px;
  left: 1250px;
}



.term{
  position: absolute;
  top:2250px;
  font-size: 12px;
  left: 1370px;
}

