.basket{
    position: absolute;
    top:260px;
    left: 610px;
    font-size: 30px;
    font-weight: bold;
    color: darkslategray;
}


.contins{
    position: absolute;
    top:320px;
    left: 670px;
    border-radius: 3px;
    width: 170px;
    height: 35px;
    background-color: white;
    border: 2px solid gray;
    font-size: 15px;
    font-weight: bold;
    color: gray;
}


.basimg{
    position: absolute;
    top:400px;
    width: 150px;
    left: 680px;
}

.basimg2{
    position: absolute;
    top:718px;
    width: 20px;
    left: 770px;
}


.savd{
    position: absolute;
    top:580px;
    left: 510px;
    font-size: 21px;
    font-weight: bold;
    color: darkslategray;
}

.hori{
    position: absolute;
    top:600px;
    width: 500px;
    left: 510px;
    border: 1px solid grey;
}

.hori2{
    position: absolute;
    top:680px;
    width: 1500px;
    left: 10px;
  
}

.noit{
    position: absolute;
    top:630px;
    font-size: 15px;
    left: 510px;
    font-weight: bold;
    color: gray;
}

.noit2{
    position: absolute;
    top:655px;
    font-size: 13px;
    left: 510px;
    font-weight: bold;
    color: gray;
}

.india1{
    position: absolute;
    top:720px;
    font-size: 12px;
    left: 800px;
}

.pri1{
    position: absolute;
    top:720px;
    font-size: 12px;
    left: 880px;
}

.gnest1{
    position: absolute;
    top:720px;
    font-size: 12px;
    left: 960px;
}

.sales1{
    position: absolute;
    top:720px;
    font-size: 12px;
    left: 1190px; 
}

.terms1{
    position: absolute;
    top:720px;
    font-size: 12px;
    left: 1280px; 
}