.expanded-text-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  .text-content {
    font-size: 16px;
  }
  
  .show-more-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .show-more-button:hover {
    background-color: #0056b3;
  }
  